<!DOCTYPE html>
<html>
<head>
     <% include {'../partial/header.ejs'} %>
</head>

<body>

<div class="container">
<h4>add number compelete!</h4>
    <form action="/database" method="get">
    <input type="submit" name="submit" />
    </form>

</body>
</html>